<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header-fragment.html :: head"></head>
<body>
<div class="modal fade" id="addMemberModal" tabindex="-1" role="dialog" aria-hidden="true" th:fragment="addMember">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h2>Invite a memeber</h2>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="input-group">
                    <div class="search-wrapper">
                        <input type="text" placeholder="Email address or name" id="searchBox" autocomplete="off">
                        <div id="suggestions"></div>
                        <input type="hidden" id="projectId" name="projectId" >
                    </div>
                    <select class="role-select" id="roleSelect">
                        <option value="MEMBER">Member</option>
                        <option value="ADMIN">Admin</option>
                    </select>
                    <button class="share-btn" id="invite">Invite</button>
                </div>
                <div>
                    <label for="positionSelect">Select Position</label>
                    <select class="position-select" id="positionSelect" name="positionId" required>
                        <option value="" disabled selected>Select position</option>
                        <option th:each="position : ${positions}"
                                th:value="${position.id}"
                                th:text="${position.name}">
                        </option>
                    </select>
                </div>

                <div class="board-info">
                    <ul class="tabs">
                        <li class="tab active">Project members(<span th:text="${memberCnt}"></span>)</li>
                        <li class="tab"></li>
                    </ul>
                    <div class="project-members" id="userList">
                        <div class="member" th:each="user : ${teamMembers}">
                            <span class="avatar" th:attr="data-username=${user.username}"></span>
                            <div class="info">
                                <p class="name" id="username" th:text="${user.username}">
                                <p class="role" th:text="${user.roles}"></p>
                            </div>
                            <!--<select class="role-select">
                                <option value="ADMIN">Admin</option>
                                <option value="MEMBER">Member</option>
                            </select>-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>