<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header-fragment.html :: head"></head>
<body>
<!-- Add task modal fragment -->
<div class="modal fade" id="addTaskModal" tabindex="-1" role="dialog" aria-labelledby="addTaskModalLabel"
     aria-hidden="true" th:fragment="addtask">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addTaskModalLabel">Add New Task</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form th:action="@{/tasks/create}" method="post" id="taskForm">
                    <div class="form-group">
                        <label for="boardId">Board</label>
                        <select class="form-control" id="boardId" name="boardId" >
                            <option th:each="board : ${userBoards}" th:value="${board.boardId}" th:text="${board.boardName}" th:data-board-name="${board.boardName}"></option>
                        </select>
                    </div>
                    <input type="hidden" id="status" name="status">
                    <input type="hidden" id="userId" name="userId" th:value="${currentUser.id}">
                    <div class="form-group">
                        <label for="title">Title</label>
                        <input type="text" class="form-control" id="title" name="title" required>
                    </div>
                    <div class="form-group">
                        <label for="description">Description</label>
                        <textarea class="form-control" id="description" name="description" rows="3"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="priority">Priority</label>
                        <select class="form-control" id="priority" name="priority">
                            <option value="HIGH">High</option>
                            <option value="MEDIUM">Medium</option>
                            <option value="LOW">Low</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="deadline">Deadline</label>
                        <input type="date" class="form-control" id="deadline" name="deadline" required>
                    </div>
                    <button type="submit" class="btn btn-primary">Add Task</button>
                </form>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" th:src="@{/js/script.js}"></script>
</body>
</html>
