<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined"  rel="stylesheet">
  <link rel="stylesheet" th:href="@{/css/style.css}">
  <link rel="stylesheet" th:href="@{/css/modal.css}">
  <link rel="stylesheet" th:href="@{/css/navbar.css}">
  <link rel="stylesheet" th:href="@{/css/create_prj.css}">
  <link rel="stylesheet" th:href="@{/css/member.css}">
  <link rel="stylesheet" th:href="@{/css/mypage.css}">
  <link rel="stylesheet" type="text/css" href="sidebar.css" th:href="@{/css/sidebar.css}" media="screen">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.17.0/dist/jquery.validate.min.js"></script>
  <script type="text/javascript" th:src="@{/js/script.js}"></script>
  <script type="text/javascript" th:src="@{/js/nav.js}"></script>
  <script type="text/javascript" th:src="@{/js/movetask.js}"></script>
  <script type="text/javascript" th:src="@{/js/edittask.js}"></script>
  <script type="text/javascript" th:src="@{/js/addMember.js}"></script>
  <script type="text/javascript" th:src="@{/js/addPosition.js}"></script>
  <script type="text/javascript" th:src="@{/js/mypage.js}"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <title>Task Management App</title>
</head>
</html>