<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined"  rel="stylesheet">
  <link rel="stylesheet" th:href="@{/css/style.css}">
  <link rel="stylesheet" type="text/css" href="navbar.css" th:href="@{/css/navbar.css}" media="screen">
  <link rel="stylesheet" type="text/css" href="sidebar.css" th:href="@{/css/sidebar.css}" media="screen">
  <title>Task Management App</title>
</head>
</html>