<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header-fragment.html :: head"></head>
<body>
<div class="navbar" th:fragment="navigation">
  <div class="navbar-left">
    <button class="menu-button">☰</button>
    <h1>Task Management</h1>
  </div>
  <div class="navbar-center">
    <input type="text" placeholder="Search...">
  </div>
  <div class="navbar-right">
    <button class="add-task">+</button>
    <img src="/images/profile.png" alt="Profile Photo" class="profile-photo">
  </div>
</div>
</body>
</html>