<!DOCTYPE html>
<html lang="en"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security" xmlns:th="http://www.thymeleaf.org"
      xmlns:javascript="http://www.w3.org/1999/xhtml">
<head th:replace="~{fragments/header-fragment.html :: head}">
<body>
  <div class="navbar" th:fragment="navigation">
    <div class="navbar-left">
      <button class="menu-button" id="showSlideBtn" onclick="showProjectMenuItem();">☰</button>
      <h1>My Project Name</h1>
    </div>

    <form action="#" th:action="@{/search}" method="get">
      <div class="navbar-center">
        <div class="search-container">
          <input type="text" name="keyword" placeholder="Search...">
          <button type="submit" class="btn btn-info">Go</button>
        </div>
      </div>
    </form>

      <div class="navbar-right">
      <img src="/images/profile.png" alt="Profile Photo" class="profile-photo" id="profileImage" onclick="showProfileImageUpload();">
    </div>

    <div id="slider-menu" class="slide-menu">
      <a href="javascript:void(0)" class="close-btn" id="closeBtn">&times;</a>
      <a href="#">Profile</a>
      <a sec:authorize="isAuthenticated()">My page</a>
      <a th:href="@{/signup}" sec:authorize="isAnonymous()">
        Sign up</a>
      <a th:href="@{/users/login}" sec:authorize="!isAuthenticated()">
        Log in</a>
      <form th:action="@{/users/logout}" method="post" sec:authorize="isAuthenticated()">
        <input hidden type="submit" value="Log out"/>
        <a th:href="@{/users/logout}">Log out</a>
      </form>
    </div>

    <div id="projects-slider" class="slide-menu">
      <a href="javascript:void(0)" class="close-btn" id="projSlider-close">&times;</a>
      <a href="#">Home</a>
      <a href="#">About</a>
      <a href="#">Services</a>
      <a href="#">Contact</a>
    </div>
  </div>


  <!-- Slide-in menu for projects -->


<!--  <script type="text/javascript" th:src="@{/js/nav.js}"></script>-->
</body>
</html>