body {
            margin: 0;
            font-family: 'Roboto', Arial, sans-serif;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 60vh;
            background-color: #f5f7fb;
            color: #333;
        }

        .registration-container {
            background-color: #ffffff;
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            width: 500px;
        }

        .registration-container h2 {
            color: #4a4a4a;
            margin-top: 0;
            font-weight: 500;
            border-bottom: 2px solid #e0e0e0;
            padding-bottom: 10px;
        }

        .registration-container form {
            display: flex;
            flex-direction: column;
        }

        .registration-container label {
            margin-bottom: 5px;
            color: #4a4a4a;
        }

        .registration-container input {
            padding: 10px;
            margin-bottom: 15px;
            border: 1px solid #e0e0e0;
            border-radius: 5px;
            font-size: 14px;
        }

        .registration-container input[type="submit"] {
            background-color: #28587B;
            color: white;
            border: none;
            cursor: pointer;
            transition: background-color 0.3s;
        }

        .registration-container input[type="submit"]:hover {
            background-color: #52c41a;
        }

        .registration-container .tag {
            font-size: 12px;
            padding: 5px 10px;
            border-radius: 3px;
            position: absolute;
            top: 10px;
            right: 10px;
        }

        .button {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 10px 15px;
            gap: 15px;
            background-color: #007ACC;
            outline: 3px #007ACC solid;
            outline-offset: -3px;
            border-radius: 5px;
            border: none;
            cursor: pointer;
            transition: 400ms;
        }

        .button .text {
            color: white;
            font-weight: 700;
            font-size: 1em;
            transition: 400ms;
        }
        .button:hover {
            background-color: transparent;
        }

        .button:hover .text {
            color: #007ACC;
        }

        .form-group {
            display: flex;
            align-items: center;
            gap: 10px;
        }

        .info-text{
            padding-bottom: 30px;
        }



