body {
    margin: 0;
    font-family: 'Roboto', Arial, sans-serif;
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: #f5f7fb;
    color: #333;
}

.content {
        display: flex;
        flex-grow: 1;
        overflow: hidden;

}
@media screen and (max-width: 768px) {
    .content {
        flex-direction: column;
    }
}


.main-content {
    flex-grow: 1;
    padding: 20px;
    overflow-y: auto;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 10px;
}

.header {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.header-content {
    display: flex;
    flex-direction: column; /* Stack the content vertically */
    align-items: flex-start;
    width: 100%;
}

.header h1 {
    margin: 0;
    font-size: 24px;
}

.button-and-progress-container {
    display: flex;
    align-items: center;
    flex-wrap: wrap; /* Allow wrapping on smaller screens */
    margin-bottom: 10px; /* Space between button/progress and filters */
}

.header .add-task-btn {
        width: 150px;
        padding: 12px;
        border-radius: 12px;
        background-color: #ffffff3d;
        font-size: 20px;
        margin-right: 20px; /* Space between button and progress container */
        box-sizing: border-box;
}

.header .add-task:hover {
    color: #ffeb3b;
}
.progress-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 10px;
}

.progress-label {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 5px;
    color: #333;
}
.progress {
    width: 700px;
    height: 25px;
    background-color: #e9ecef;
    border-radius: 5px;
    overflow: hidden;
}

.progress-bar {
    background-color: #28a745;
    text-align: center;
    color: white;
    white-space: nowrap;
    padding: 0 10px;
}

.column-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}


.header-filters {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 10px; /* Space between progress bar and filters */
    width: 100%;
}

.filter {
    padding: 5px 10px;
    font-size: 14px;
    flex-grow: 1; /* Allow filters to take up available space */
    min-width: 150px; /* Minimum width for each filter */
}
@media screen and (max-width: 768px) {
    .button-and-progress-container {
        flex-direction: column;
        align-items: flex-start;
    }

    .progress-container {
        width: 100%;
    }

    .add-task-btn {
        width: 100%;
        margin-bottom: 30px; /* Space between button and progress bar */
    }

    .header-filters {
        flex-direction: column;
    }

    .filter {
        width: 100%;
    }
}
.board {
    display: flex;
    gap: 20px;
    margin-top: 20px;
    flex-wrap: wrap; /* Allow columns to wrap on smaller screens */
}

.column {
    flex: 1;
    background-color: #ffffff;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    overflow-y: auto;
    max-height: calc(100vh - 130px); /* Adjust based on navbar height */
    margin-bottom: 20px; /* Add some space between wrapped columns */
}

.column h3 {
    margin-top: 0;
    color: #4a4a4a;
    font-weight: 500;
    border-bottom: 2px solid #e0e0e0;
    padding-bottom: 10px;
}

.board-item {
    margin-bottom: 20px;
}


.delete-board-btn {
    padding: 2px 8px;
    border: none;
    border-radius: 7px;
    background-color: #fff;
    cursor: pointer;
    font-size: 14px;
    margin-bottom: 40px;
}

.delete-board-btn:hover {
    background-color: #28587B;
}

.task {
    background-color: #fff;
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 15px;
    position: relative;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
}

.date-and-delete {
    display: flex;
    align-items: center;
    margin-top: 10px; /* Adjust as needed */
}

.date {
    margin-right: 10px;
}

.task p{
    margin-top: revert;
}
.task:hover {
    transform: translateY(-3px);
}

.task .tag {
    font-size: 7px;
    padding: 2px 4px;
    border-radius: 3px;
    position: absolute;
    top: 10px;
    right: 10px;
    display: inline-block; /* Ensures the tag stays inline and text fits within */
    text-align: center; /* Centers the text within the tag */
    min-width: 5px; /* Ensures a minimum width for consistency */
    white-space: nowrap; /* Prevents text from wrapping */
}

.task .tag.high {
    background-color: #ff4d4f;
    color: white;
}

.task .tag.medium {
    background-color: #ffa940;
    color: white;
}

.task .tag.low {
    background-color: #52c41a;
    color: white;
}
.delete-task-btn{
    padding: 2px 8px;
    border: none;
    border-radius: 7px;
    background-color: ##9FB4C7;
    cursor: pointer;
    font-size: 14px;
    margin-left: 30px;
}
