<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:replace="~{fragments/header-fragment.html :: head}">
<body>
<div th:replace="~{fragments/navbar-fragment :: navigation}"></div>
    <div class="content">
        <div th:replace="~{fragments/sidebar-fragment :: sidebar}" class="sidebar"></div>
            <div class="main-content">
                <div sec:authorize="!isAuthenticated()">
                    <h1>Welcome!</h1>
                    <p>Pick up where you left off. To see your tasks for today, please log in or sign up.</p>
                </div>
                <div sec:authorize="isAuthenticated()">
                    <div class="header">
                        <h1>Your project name</h1>
                        <button class="add-task-btn" data-toggle="modal" data-target="#addTaskModal">+ Add tasks</button>
                    </div>
                    <div class="board">
                        <div class="column new-requests">
                            <h3>Todo</h3>
                            <div th:each="board : ${userBoards}">
                                <div th:if="${board.boardName == 'TO_DO'}">
                                    <div th:each="task : ${board.tasks}">
                                        <div class="task">
                                            <p th:text="${task.title}"></p>
                                            <span class="tag" th:class="'tag ' + ${task.priority.toString().toLowerCase()}"></span>
                                            <span class="date" th:text="${task.deadline}"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="column in-progress">
                            <h3>In Progress</h3>
                            <div th:each="board : ${userBoards}">
                                <div th:if="${board.boardName == 'IN_PROGRESS'}">
                                    <div th:each="task : ${board.tasks}">
                                        <div class="task">
                                            <p th:text="${task.title}"></p>
                                            <span class="tag" th:class="'tag ' + ${task.priority.toString().toLowerCase()}"></span>
                                            <span class="date" th:text="${task.deadline}"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="column completed">
                            <h3>Completed</h3>
                            <div th:each="board : ${userBoards}">
                                <div th:if="${board.boardName == 'DONE'}">
                                    <div th:each="task : ${board.tasks}">
                                        <div class="task">
                                            <p th:text="${task.title}"></p>
                                            <span class="tag" th:class="'tag ' + ${task.priority.toString().toLowerCase()}"></span>
                                            <span class="date" th:text="${task.deadline}"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="column deferred">
                            <h3>Deferred</h3>
                            <div th:each="board : ${userBoards}">
                                <div th:if="${board.boardName == 'DEFERRED'}">
                                    <div th:each="task : ${board.tasks}">
                                        <div class="task">
                                            <p th:text="${task.title}"></p>
                                            <span class="tag" th:class="'tag ' + ${task.priority.toString().toLowerCase()}"></span>
                                            <span class="date" th:text="${task.deadline}"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </div>
<div th:replace="~{fragments/addtask-fragment :: addtask}"></div>


<script>
    document.addEventListener('DOMContentLoaded', (event) => {
        const addTaskButton = document.getElementById('add-task-btn');
        const addTaskModal = document.getElementsByClassName('addTaskModal');

        $(document).ready(function () {
            $('#addTaskModal').modal('hide');

            $('.add-task-btn').click(function () {
                $('#addTaskModal').modal('show');
            });
        });
    });

</script>
</body>
</html>