<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:replace="~{fragments/header-fragment.html :: head}">
<body>
<div th:replace="~{fragments/navbar-fragment :: navigation}"></div>
    <div class="content">
        <div th:replace="~{fragments/sidebar-fragment :: sidebar}" class="sidebar"></div>
            <div class="main-content">
                <div sec:authorize="!isAuthenticated()">
                    <h1>Welcome!</h1>
                    <p>Pick up where you left off. To see your tasks for today, please log in or sign up.</p>
                </div>
                <div sec:authorize="isAuthenticated()">
                    <div class="header">
                        <div class="header-content">
                            <div class="button-and-progress-container">
                                <button class="add-task-btn" data-toggle="modal" data-target="#addTaskModal">+ Add tasks</button>
                                <div class="progress-container">
                                    <span class="progress-label">Progress</span>
                                    <div class="progress">
                                        <div id="task-progress-bar" class="progress-bar" role="progressbar"
                                             th:if="${totalTasks > 0}"
                                             th:style="'width:' + (${completedTasks} * 100.0 / ${totalTasks}) + '%;'"
                                             aria-valuemin="0" aria-valuemax="100"
                                             th:text="${completedTasks * 100.0 / totalTasks} + '%'">
                                        </div>
                                        <div th:if="${totalTasks == 0}" th:text="'0%'" class="progress-bar" style="width: 0%;"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="header-filters">
                                <form method="get" id="boardFilter">
                                    <div class="custom-dropdown">
                                        <button type="button" class="dropdown-toggle" onclick="toggleDropdown('boardDropdown')">
                                            Select Board Category
                                        </button>
                                        <div id="boardDropdown" class="dropdown-content">
                                            <label>
                                                <input type="checkbox" name="boardName" value="all" > All Boards
                                            </label>
                                            <div th:each="board : ${userBoards}">
                                                <label>
                                                    <input type="checkbox" name="boardName" th:value="${board.boardName}"
                                                           th:checked="${selectedBoardNames != null and selectedBoardNames.contains(board.boardName)}">
                                                    <span th:text="${board.boardName}"></span>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="custom-dropdown">
                                        <button type="button" class="dropdown-toggle" onclick="toggleDropdown('priorityDropdown')">
                                            Select Priority
                                        </button>
                                        <div id="priorityDropdown" class="dropdown-content">
                                            <label>
                                                <input type="checkbox" name="priority" value="all"> All Priorities
                                            </label>
                                            <label>
                                                <input type="checkbox" name="priority" value="HIGH"> High
                                            </label>
                                            <label>
                                                <input type="checkbox" name="priority" value="MEDIUM"> Medium
                                            </label>
                                            <label>
                                                <input type="checkbox" name="priority" value="LOW"> Low
                                            </label>
                                        </div>
                                    </div>

                                    <input type="hidden" id="userId" name="userId" th:value="${currentUser.id}">
                                    <button type="submit">Go</button>
                                </form>
                            </div>
                        </div>
                    </div>

                    <div class="board" id="boardList" th:fragment="boardList">
                        <div class="column" th:each="board : ${userBoards}">
                            <div class="column-header">
                                <h3 th:text="${board.boardName}"></h3>
                                <form th:action="@{/board/delete/{id}(id=${board.boardId})}" method="post" class="delete-board-form">
                                    <button type="submit" class="delete-board-btn">x</button>
                                </form>
                            </div>
                                <div th:each="task : ${board.tasks}">
                                        <div class="task">
                                            <p th:text="${task.title}"></p>
                                            <span class="tag" th:class="'tag ' + ${task.priority.toString().toLowerCase()}"
                                                  th:text="${task.priority.toString().toUpperCase()}"></span>
                                            <div class="date-and-delete">
                                                <span class="date" th:text="${task.deadline}"></span>
                                                <form th:action="@{/tasks/remove/{id}(id=${task.Id})}" method="post" class="delete-task">
                                                    <button type="submit" class="delete-task-btn">x</button>
                                                </form>
                                            </div>
                                        </div>
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
    </div>
<div th:replace="~{fragments/addtask-fragment :: addtask}"></div>

</body>
</html>